<div id="page_links_product">
  <%= will_paginate @products, params: {controller: "store", category_search: params[:category_search]}, renderer: 'RemoteLinkRenderer' %>
</div>

<% cache ['store', Product.latest] do %>
  <%= "Nothing to show!" if @products.empty? %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
			<div class="entry">
				<%= image_tag(product.image_url) %>
				<h3><%= product.title %></h3>
				<%= sanitize(product.description) %>
        <div class="category_line">
          <p>
            <b>Category:</b> <%= "#{product.category.name}" %>
          </p>
        </div>
				<div class="price_line">
					<span class="price"><%= number_to_currency(product.price) %></span>
					<%= button_to t('.add_html'), line_items_path(product_id: product), remote: true %>
				</div>
			</div>
			<% end %>
		<% end %>
<% end %>

<div id="page_links_product">
  <%= will_paginate @products, params: {controller: "store"}, renderer: 'RemoteLinkRenderer' %>
</div>