<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%= t('.title_html') %></h1>

<div id="category_search">

<%= form_tag(store_path, method: "post", id: "category-search", data: {remote: true}) do %>
  <%=
  select_tag(:category_search,
  options_for_select(Product::CATEGORY_TYPES, params[:category_search]),
  prompt: "All Categories",
  onchange: "$(this.form).submit()")
  %>
  <%= submit_tag "Search by Category", name: nil %>
<% end %>

</div>

<div id="product_listing">
  <%= render "product_list" %>
<div>

<br />
